.box1 {
    height: -110%;
    background-color: rgb(187, 110, 202);
}

.box2 {
    position: relative;
    width: 100%;
    background-color: rgb(226, 151, 126);
    height: 1000px;
}

.box {
    position: relative;
    background-color: rgb(155, 216, 120);
    width: 200px;
    top: -1050px;
    right: 1px;

}

.table {
    position: relative;
    background-color: antiquewhite;
    height: 300px;
    width: 70%;
    bottom: -100px;
    left: 250px;
}

.container {
    position: relative;
    height: 70px;
    width: 500px;
    top: -1000px;
    left: -270px;
}

th {
    height: 60px;
}