<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='bulma/bulma.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/employee.css')}}">
</head>

<body>
  
     {% if message!= "" %}
     <div class="has-bg-danger messagebox">{{ message }}</div>
     {% endif %}
    </div>

  <div class="box1  has-text-white-bis  is-family-gregorian is-size-1 has-text-centered ">
    Employee Information System
  </div>

  <center>
    <div class="box2">
      <a href="{{ url_for('add_form') }}" class="button is-small is-success">+Add Employee</a>
      <div class=" box2 grid ">
        <table class="table is-bordered">
          <tbody>

            <tr>
              <th class="is-danger">Employee</th>
              <th class="is-danger">Last Name</th>
              <th class="is-danger">First Name</th>
              <th class="is-danger">Middle Name</th>
              <th class="is-danger">Actions</th>
            </tr>
            {% for employee in employees %}
            <tr>
              <td>{{ employee[0] }}</td>
              <td>{{ employee[1] }}</td>
              <td>{{ employee[2] }}</td>
              <td>{{ employee[3] }}</td>
              <td>
                <a href="{{ url_for('update_employee', emp_id=employee[0]) }}" class="button is-small is-info">Update</a>
                <a href="/delete-employee/{{ employee[0] }}" class="button is-small is-danger">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </center>

  <div class="container  has-text-black-bis is-family-monospace is-size-1 has-text-centered ">
    Employee List
  </div>

  <div class="relative">
    <div class="box is-family-monospace ">Employee List</div>
    <div class="box is-family-monospace">Personal Info</div>
    <div class="box is-family-monospace">Education Info</div>
    <div class="box is-family-monospace">Work Exp</div>
    <div class="box is-family-monospace">Trainings</div>
    <div class="box is-family-monospace">Logout</div>
  </div>

</body>

</html>