<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma/bulma.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
  <form action="check-user" method="POST" class="box has-background-link-light">
    <div class="field">
      <label class="label">USER NAME :</label>
      <div class="control">
        <input class="input" name="username" type="text" placeholder="e.g. drinn@example.com" />
      </div>
    </div>

    <div class="field">
      <label class="label">PASSWORD :</label>
      <div class="control">
        <input class="input" name="password" type="password" placeholder="********" />
      </div>
    </div>

    <div class="has-text-centered">
      <button class=" button is-primary ">LOGIN</button>


    </div>

  </form>
</body>

</html>